:root {
  --box-padding: 70px;
}

.page_about_customer-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // 2열 배치
  gap: 10px 40px;
  padding-top: 10px;
  width: 80%;
  li {
    padding: 5px 0;
  }
  a {
    text-decoration: underline;
  }
}
@media (min-width: 1024px) {
  .page_about {
    display: grid;
    grid-template: auto/ 1fr 1fr;
    p {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
  .page_about_intro {
    grid-column: 1/3;
    padding: var(--box-padding) var(--spacing-unit);
    border: 1px solid var(--color-white);
    h2 {
      display: none;
    }
  }
  .page_about_content-txt {
    padding: var(--spacing-unit);
    border: 1px solid var(--color-white);
    margin-top: -1px;
    &:nth-child(5) {
      margin-left: -1px;
    }
    h2 {
      text-transform: capitalize;
      padding-bottom: var(--box-padding);
    }
  }
  .page_about_content-img {
    margin-top: -1px;
    margin-left: -1px;
    &:nth-child(2n) {
      text-align: right;
      margin-right: 1px;
    }
    img {
      width: 80%;
      height: 100%;
      object-fit: cover;
      border: 1px solid var(--color-white);
    }
  }
}

@media (max-width: 1024px) {
  .page_about {
    h2 {
      text-transform: capitalize;
      border-bottom: 1px solid var(--color-white);
      padding-bottom: 5px;
    }
    > div {
      padding: 0 0 var(--spacing-unit) 0;
      > div {
        padding-top: var(--spacing-unit);
        p {
          margin-bottom: 10px;
        }
      }
    }
  }
  .page_about_content-img {
    display: none;
  }
}
