.footer {
  background: var(--color-white);
  padding: var(--spacing-unit);
}
.footer_info {
  padding-bottom: 100px;
  .copyright {
    color: var(--color-black);
    padding-bottom: var(--spacing-unit);
  }
  .footer_links {
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    text-decoration: underline;
    > a {
      padding: 5px 0;
    }
  }
}
.footer_wordmark {
  cursor: pointer;
}
